// Typography

// Fonts
$font-display: monospace;
$font-header: serif;
$font-regular: sans-serif;

h1,
.h1 {
  font: 32px/1 $font-header;
  margin: 0 0 grid(2);
  @extend %smooth;

  @include media-md {
    font-size: 60px;
  }
}

h2,
.h2 {
	font: 24px/1 $font-header;
  text-transform: uppercase;
  @extend %smooth;
}

h3,
.h3,
h4,
.h4 {
	font: 12px/1.5 $font-display;
}
